.guide{
    position: relative; left: 10px; bottom: 30px; 
    z-index: 2;
}
.category_bt{
    position: relative;
    left: 10px;
    font-size: larger;
}
.p1{
    color: black;
}

.tb1{
    position: relative;
    top: 20px;
    padding: 10px 18px;
    margin: 10px 0 20px;
    background: #f7f7f7;
    color: #857f7f;
}
a{  color: #000;
    text-decoration: none;
}
.category{
    border-bottom: solid black 1px;
    font-weight: bold;
    font-size: 30px;
    padding-left: 10px;
}
.t2{
   position: relative;
   left: 350px;
   bottom: 150px;
   z-index: 0;
}
html,body{
    margin: 0;
    padding: 0;
}
header{
        width: 100%;
        height: 236px;
        position: sticky;
        background: white;
        z-index: 2;
    }
.header_left{ 
margin-top: 14px;
}

#high_con,#con{ text-decoration: none;   /* a태그 밑줄제거 */
      color: black;       /*메뉴 a태그 id*/
}
#high_con:hover{
    font-weight: bold;
}

/* #con{
    background-color: #a8a8a8;
} */
.BRAND_Second li,.WOMEN_Second li,.Man_Second li{
    background-color: #a8a8a8; border: none; /*메뉴 하위메뉴 배경색상 지정*/
}


#con:link{ color : black}
#con:hover{font-weight: bold; text-decoration: underline; }
input:-ms-input-placeholder{color:#a8a8a8;}
input::-webkit-input-placeholder{color:#a8a8a8;}
input::-moz-placeholder{color:#a8a8a8;}
#product_menu_list{font-size: 25px;display: inline-block; left: 16.5%;  } /* 메뉴 카테고리 좌우 이동*/
.first_hearder{ height: 30px; width: 360px; border: 1px solid #0b0c0e; background: #ffffff; margin-top: 5px;}
#fisrst_search{ font-size: 16px; width: 300px; height: 25px; padding: 0px; border: 0px; outline: none; float: left; }
#button_search{ width: 40px; height: 99%; border: 0px; background: #020202; outline: none; float: right; color: #ffffff}
#header_gita li,.first_hearder{list-style-type: none;float: right; margin-right: 30px;}  /*로그인 장바구니 목록 설정*/
#sidelist{ margin-right: 0;}
.header_img{ width: 40px; height: 2px;   margin-bottom: 3px;}
#header_right_img{ 
    float: left; width: 180px; height: 40px; margin-left: 20px;
}
#hearder_color{ background: #020202; background-color: #020202; width: 100%;height: 50px;margin-bottom: 30px;float: right;text-align: center;}
/* body{width: 0 auto;text-align: center;} */
/* ----------------------------------------- 헤더메뉴 ----------------------------------------- */
nav{  width: 100%; height: 220px;
background-color: rgb(255, 255, 255);}
/* ----------------------------------------- 메뉴 MEN ----------------------------------------- */
.header_menu_Man li{ float: left; padding: 0 50px; line-height: 36px; position: relative; }
.Man_Second{ margin-bottom: 20px; position:absolute;  top:100%; left: 0%; right: 200%; display: none;   /* 중분류 될 리스트를 숨김 */}
.Man_Second li{width: 300px; height: 40px; padding-bottom: 7px;  } /* 크기 및 이동조절*/
.header_menu_Man:hover .Man_Second{display: block;}
/* ----------------------------------------- MEN 끝 및 브랜드 시작 ----------------------------------------- */
.header_menu_BRAND li{ float: left; padding: 0 50px; line-height: 36px; position: relative;}
.BRAND_Second{ margin-bottom:20px; position: absolute; top:100%; left: 0; right: 400%; display: none; /* 중분류 될 리스트를 숨김 */}
.BRAND_Second li{ width: 300px; height: 40px; padding-bottom: 7px; }  /*중분류 리스트 사이즈*/
.header_menu_BRAND:hover .BRAND_Second{ display: block; }
/* ----------------------------------------- 브랜드 three ----------------------------------------- */
.BRAND_Three{  margin-bottom:10px; position:absolute; bottom: 100%; top: -1px; left: 69.5%;  /* right: 500px; */ display: none; /* 중분류 될 리스트를 숨김 */ }
.BRAND_Three li{ width: 300px; height: 40px; padding-bottom: 7px; }  /*중분류 리스트 사이즈*/
.Restock:hover .BRAND_Three{ display: block; }
 /*------------------------------------ 안헷갈리게 ViewallBrands_Three------------------------------------------------------------------------------*/
 .ViewallBrands_Three{ margin-bottom:10px; position:absolute; top: 0px;  left: 69.5%; /* right: 500px; */ display: none; /* 중분류 될 리스트를 숨김 */}
.ViewallBrands_Three li{ width: 300px; height: 40px; padding-bottom: 7px; }  /*중분류 리스트 사이즈*/
.ViewallBrands:hover .ViewallBrands_Three{ display: block; }
/* ----------------------------------------- 브랜드 끝 ----------------------------------------- */
/*------------------------------------ 안헷갈리게 MAN_Three 중분류들 ------------------------------------------------------------------------------*/
.OUTER_Second{  margin-bottom:10px; position:absolute; bottom: 100%; top: 0px;  left: 69.5%;  /* right: 500px; */ display: none; /* 중분류 될 리스트를 숨김 */ }
.OUTER_Second li{ width: 300px; height: 40px; padding-bottom: 7px; }  /*중분류 리스트 사이즈*/
.OUTER:hover .OUTER_Second{ display: block; }
.TOP_Second{  margin-bottom:10px; position:absolute; bottom: 100%; top: -1px;  left: 69.5%; /* right: 500px; */ display: none; /* 중분류 될 리스트를 숨김 */ }
.TOP_Second li{ width: 300px; height: 40px; padding-bottom: 7px; }  /*중분류 리스트 사이즈*/
.TOP:hover .TOP_Second{ display: block; }

.LIFE_Second{  margin-bottom:10px; position:absolute; bottom: 100%; top: -1px;  left: 69.5%; /* right: 500px; */ display: none; /* 중분류 될 리스트를 숨김 */ }
.LIFE_Second li{ width: 300px; height: 40px; padding-bottom: 7px; }  /*중분류 리스트 사이즈*/
.LIFE:hover .LIFE_Second{ display: block; }
/*------------------------------------ 안헷갈리게 MAN_Three 끝 및 WOMEN_SECOND 시작------------------------------------------------------------------------------*/
.header_menu_WOMEN #product_menu_list{  float: left;  padding: 0 50px;  line-height: 36px; position: relative; }
.WOMEN_Second{ margin-bottom: 10px; position: absolute; top:95%; left: 0; right: 500%; display: none;    /* 중분류 될 리스트를 숨김 */ }
.WOMEN_Second #product_menu_list{ width: 350px; height: 40px; padding-bottom: 7px;  left: 18.6%; } /*우먼 2단계리스트 크기 좌우 조절*/
.header_menu_WOMEN:hover .WOMEN_Second{ display: block; }
/* ----------------------------------------- 세일----------------------------------------- */
.header_menu_SALE li{  float: left; padding: 0 50px; line-height: 36px; position: relative; }
.SALE_Second{ margin-bottom: 10px; position: absolute; top:140%; left: 0; right: 500%; display: none;    /* 중분류 될 리스트를 숨김 */}
.SALE_Second li{ width: 500px; height: 60px; padding-top: 15px; }
.header_menu_SALE:hover .SALE_Second{ display: block;}
/* ----------------------------------------- NEW ARRIVAL ----------------------------------------- */
.header_menu_NEWARRIVAL li{  float: left; padding: 0 50px; line-height: 36px; position: relative; }
.SALE_Second{ margin-bottom: 10px; position: absolute; top:140%; left: 0; right: 500%; display: none;    /* 중분류 될 리스트를 숨김 */}
.SALE_Second li{ width: 500px; height: 60px; padding-top: 15px; }
.header_menu_NEWARRIVAL:hover .SALE_Second{ display: block;}
/* ----------------------------------------- 유저리뷰 ----------------------------------------- */
.header_menu_Userrivw li{  float: left; padding: 0 50px; line-height: 36px; position: relative; }
.SALE_Second{ margin-bottom: 10px; position: absolute; top:140%; left: 0; right: 500%; display: none;    /* 중분류 될 리스트를 숨김 */}
.SALE_Second li{ width: 500px; height: 60px; padding-top: 15px; }
.header_menu_Userrivw:hover .SALE_Second{ display: block;}
.side_list{
    background:url("../headerimg/목록.png");
    border : 0;
    outline: 0;
    margin-right: 100px;

}
    /*사이드메뉴 추가 스타일*/
    .sidebar{
width: 500px;
height: 100%;
background: rgb(63, 62, 62);
position: fixed;  /*고정 드래그하면 사이드메뉴도 드래그되어버려 fixed 고정*/
top: 0;
right: -500px;  /*화면밖으로 내보내기위해 -값*/
z-index: 1;   /*포지션값의 우선순위*/
transition: all .35s;
opacity: 0.5;

}

#menuicon:checked+label+div{
right: 0;
}
#menuicon{
float: right;
display: none;
}
#menuicon +label{
display: block;
width: 50px;
height: 30px;
position: relative;
right: 0;
top: calc(50% - 25px);
transition: all .0s;
cursor: pointer;
margin-top: 8px;

} 
#menuicon + label span{
display: block;
position: absolute;
width: 100%;
height: 4px;
border-radius: 30px;
background: #000;
transition: all 1s;
}

input[id="menuicon"]:checked +label span:nth-child(1){
top: 50%;
transform: translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked +label span:nth-child(2){
opacity: 0;
}
input[id="menuicon"]:checked +label span:nth-child(3){
bottom: 50%;
transform: translateY(50%) rotate(-45deg);
}
#menuicon + label span:nth-child(1){
top: 0;
}
#menuicon + label span:nth-child(2){
top: 50%;
transform: translateY(-50%);
}
#menuicon + label span:nth-child(3){
bottom: 0;
}

#menuicon:checked+label+div{
right: 0;
}
#menuicon:checked+label{
z-index: 2;
right: 500px;
}
.sidebar_ul{
margin-top: 30%;

}
.sidebar_ul #sidebar_li{
margin-bottom: 10%;
font-size: 18px;
text-align: right;
margin-right: 70%;  
height: 30px;
line-height: 30px;
list-style:none;
}

#sidebar_li_a:hover{
font-weight: bold;
}
#sidebar_li:hover{
font-weight: bold;
}

#sidebar_li_a{
text-decoration:none
}

/*----푸터------------------------------------------------------------------------------------------------------------------------*/
 .every{
width: 100%;
margin: 0 auto; 
text-align: center;
} 

/*푸터어어어*/

footer {width: 100%;height: 10px;bottom: 5px;  position: relative;border-top: 1px solid #c4c4c4; color: #808080;font-size: 11px; transform: translateY(-100%);}
footer a:visited {color: #808080;}
footer p {margin-top: 0;  margin-left: 10px;}
footer p span {display: inline-block;margin-left: 20px; margin-bottom: 5px;} 
#wrap{
    width: 100%;height: auto;
    min-height: 100%;
    margin-top: 10px;
}

#footer_addr{float: left;}
.footer_div{margin-top: 20px;margin-right: 30px;float: right; margin-bottom: 10px;}
