.step_progress:first-child::before{
    content: none;
}

.step_progress_on:before{
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    width: 12px;
    height: 12px;
    border-top: 1px solid #b2b2b2;
    border-right: 1px solid #b2b2b2;
    transform: translateY(-50%) rotate(45deg);
}

.commu_final {
	padding-top: 80px;
}