.faq_writeview th {
	width: 20%;
	border-bottom: 1px solid #e5e5e5;
}

.faq_writeview input {
	width: 400px;
	height: 30px;
} 

.faq_writeview textarea {
	resize: none;
}

.faq_writeview_button {
	text-align: right;
	font-size: 18px;
}

.faqboard_header {
	width: 17%;
	
}

.fheader {
	color:red;
}

.faqtoggle:hover{
	background-color: #f5f5f5;
	font-weight: bold;
}

.faqboard_title {
	width: 64%
}

.faqboard_button {
	font-size: 18x;
	margin-top:30px;
	background-color: white;
}

.faqcontent {
	/* padding-left: 200px; */
	display:none;
}
.faqcontent2{
}
.faqtoggle {
	
}

pre { 
/* white-space: -moz-pre-wrap;   */
/* white-space: -pre-wrap; Opera  */
/* white-space: -o-pre-wrap Opera  */
white-space: pre-wrap;  
word-wrap: break-word; /* IE 5.5+ */ 
}