.manager_nav {
    width: 250px;
    grid-area: nav;
}

.manager_left_list {
    border-bottom: 1px solid #e5e5e5;
    height: 60px;
    margin: 11px 0 0 0;
    font-size: 18px;
    font-weight: 600;
} 

.manager_title {
    color: #000;
    font-size: 20px;
    white-space: nowrap;
    font-weight: bold;
    border-bottom: 3px solid #000;
    width: 250px;
    margin: 20px 22px 0 0;
    padding-bottom: 20px;
}
.manager_main{
    display: grid;
    grid-template-columns: 1fr 300px 1200px 1fr;
    grid-template-areas: " . nav board . ";
}

.manager_main a {
	text-decoration: none;
	color: inherit;	
}

.manager_main ul {
	list-style: none;
    -webkit-padding-start: 0;
}

.manager_nav {
    width: 250px;
    grid-area: nav;
}

.manager_board{
    grid-area: board;
}

.manager_main_title{
    border-top: 3px solid #000;
    margin-top: 115px;
    padding-top: 10px;
    font-size: 20px;
}

.manager_enter_btn {
	text-align: right;
}
