.notice_writeview th {
	width: 20%;
	border-bottom: 1px solid #e5e5e5;
}

.notice_writeview input {
	width: 400px;
	height: 30px;
} 

.notice_writeview textarea {
	resize: none;
	width: 400px;
	height: 500px;
}

.notice_writeview_button {
	text-align: right;
	font-size: 16px;
}

.notice_writeview_header {
	width: 17%;
}

.notice_writeview_button {
	font-size: 18x;
	margin-top:30px;
	background-color: white;
}

.write_button {
	margin-top:30px;
}